<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <h1 class="text-center mb-4">Search Users</h1>
      <form action="/friends/search" method="get">
        <div class="form-group">
          <div class="input-group">
            <input type="text" class="form-control" name="q" placeholder="Search by name or email" aria-label="Search" aria-describedby="search-addon" required>
            <div class="input-group-append">
              <button type="submit" class="btn btn-primary">Search</button>
            </div>
          </div>
        </div>
      </form>
      <hr>
      <div class="card">
        <div class="card-body">
          <% users.forEach((user) => { %>
            <div class="row mb-2">
              <div class="col-md-6">
                <h5><%= user.name %></h5>
                <p><%= user.email %></p>
              </div>
              <div class="col-md-6 text-md-right">
                <form action="/friends/add/<%= user.id %>" method="post">
                  <button type="submit" class="btn btn-primary">Add as Friend</button>
                </form>
              </div>
            </div>
          <% }) %>
        </div>
      </div>
    </div>
  </div>
</div>
